  <!-- <div class="account_info">
    <%# <% %> if current_user.accounts.empty? %>
      <%# <%= render "layouts/empty_state" %> %>
    <%# <% else %> %>
      <ul>
        <li><%= link_to "All Portfolios", root_path %></li>
        <%# <% @accounts.each do |account| %> %>
          <%# <li><%= link_to account.account_name, account_path(account) %></li> %>
        <%# <% end %> %>
        <%# <li><%= link_to "Add Account", new_account_path %></li> %>
        <%# <%= link_to "Add Holding", new_account_holding_path, class: 'btn btn-primary justify-content-end' %> %>
      </ul>
    <%# <% end %> %>
  </div> -->

  <% if current_user.accounts.empty? %>
      <%= render "layouts/empty_state" %>
  <% else %>
    <div class="account-balance">
      <div>
        <h1><%= number_to_currency(@total_principle_invested) %></h1>
        <p>$500</p>
    </div>
        <div class='holding'>
          <%= link_to "Add Holding", new_account_holding_path, class: 'btn btn-primary justify-content-end' %>
        </div>
    </div>
    <div class="primary-info">
      <div class="card1">
        <h6>Portfolio Yield</h6>
        <h2><%= @account.portfolio_yield %></h2>
      </div>
      <div class="card2">
        <h6>Annual Income</h6>
        <h2><%= number_to_currency(@total) %></h2>
      </div>
      <div class="card3">
        <h6>Yield on Cost</h6>
        <h2>4%</h2>
      </div>
      <div class="card4">
        <h6></h6>
        <h2></h2>
      </div>
    </div>
      <ul class='primary-info'>
        <li><%= link_to "All Portfolios", root_path %></li>
        <% @accounts.each do |account| %>
          <li><%= link_to account.account_name, account_path(account) %></li>
        <% end %>
        <li><%= link_to "Add Account", new_account_path %></li>
      </ul>
    <%= render "dashboard/table" %>
  <% end %>


  <%= @total_shares %>
