<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :account_name %>
    <%= form.text_field :account_name, class: 'form-control', placeholder: 'Summary Portfolio' %>
  </div>

  <div>
    <%= form.submit "Add Account", class: "btn btn-primary my-3" %>
  </div>
<% end %>
