<p style="color: green"><%= notice %></p>

<% if current_user.accounts.empty? %>
<% else %>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>TICKER</th>
        <th scope='col'>SHARES</th>
        <th scope='col'>PRICE</th>
        <th scope='col'>CHANGE</th>
        <th scope='col'>AVERAGE COST</th>
        <th scope='col'>PROFIT/LOSS</th>
        <th scope='col'>DIVIDEND YIELD</th>
        <th scope='col'>YIELD ON COST</th>
        <th scope='col'>ANNUAL INCOME</th>
        <th scope='col'>misc</th>
      </tr>
    </thead>
    <tbody class="table-striped">
      <% @accounts.each do |account| %>
        <% account.companies.uniq.each do |company| %>
          <tr>
            <td><%= company.symbol %></td>
            <td><%= company.account_holdings.sum(:shares) %></td>
            <td><%= company.price_history_dailies.last.close %></td>
            <td></td>
            <td><%= company.account_holdings.average(:cost_per_share).round(2) %></td>
            <td></td>
            <td><%= company.company_infos.last.dividend_yield %></td>
            <td></td>
            <td><%= company.company_infos.last.dividend_per_share %></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to dashboard", root_path %>

  <%= button_to "Destroy this account", @account, method: :delete %>
</div>
